// Place all the styles related to the TeachingIdeas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.set-box {
  min-height: 200px;
  min-width: 200px;
}

.colNew {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* max-width: 100px; */
  /* max-height: 200px; */
  min-width: 100px;
  min-height: 100px;
}