<nav class="navbar navbar-light fixed-top">
  <a class="navbar-brand text-primary">Teachers' Journals</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for teaching ideas..." aria-label="Search for teaching ideas...">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>